<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

<div class="row">
    <div class="col-6">
        Hello {{ name }}
    </div>

    <div class="col-6">
        <h4> Order No: {{ order_id }}</h4>
        Thank you for your order,<br>
        If you have any queries, don't hesitate to get in contact with us <br>
    </div>

    <div class="col-12">
        {{ cus_items }}
    </div>

    <div class="col-12">
        tax: {{order_tax}} <br>
        shipping: {{order_shipping}} <br>
        total: {{order_total}}
    </div>

    <div class="col-12">
        Thank you <a href="http://www.SweetSweetSwag.com">SweetSweetSwag</a>
    </div>
</div>
