{% extends "base.html" %}
{% block content %}
{% if not billing_profile %}
<div class="row text-centre">
    <div class="col-12 col-md-6">
        <p>Login</p>
        {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}    
    </div>    
    <div class="col-12 col-md-6">
        {% url "account:guest_register" as guest_register_url %}
        Continue as guest
        {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
    </div>
</div>
{% else %}
    {% if not object.shipping_address and shipping_address_required %}
    <div class="row">
        <div class="col-md-12">
            <p class="lead">Shipping Address</p>
            <hr/>
        </div>
        <div class="col-md-6">
            {% url "checkout_address_create" as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
        </div>
        <div class="col-md-6">
            {% url "checkout_address_reuse" as checkout_address_reuse %}
            {% include 'addresses/previous_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
        </div>        
    </div>
    {% elif not object.billing_address %}
    <div class="row">
        <div class="col-12">
            <p class="lead">Billing Address</p>
            <hr/>
        </div>
        <div class="col-md-6">
            {% url "checkout_address_create" as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
        </div>
        <div class="col-md-6">
            {% url "checkout_address_reuse" as checkout_address_reuse %}
            {% include 'addresses/previous_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-12">
                <h5>Checkout</h5>
                <p>Cart Items: {% for cart_item in object.cart.cart_items.all %}{{cart_item.product}}{% if not forloop.last %}, {% endif %}{% endfor %} </p>
                <p>Shipping address {{ object.shipping_address.get_address}}</p>
                <p>Billing address {{ object.billing_address.get_address}}</p>
                <p>Cart Total: £{{ object.cart.total}}</p>
                <p>Vat Total: £{{ object.cart.vat_total}}</p>
                <p>Shipping Total: £{{ object.shipping_total}}</p>
                <p>Order Total: £{{ object.total}}</p>
                
            </div>
            <div class="col-4" id="paypal-button-container"></div>
            <div>
                <h3>test account</h3>
                <p>Username: sb-jijye3780764@personal.example.com</p>
                <p>Password: %_V=2o:}</p>
            </div>
        </div>

        <!-- Paypal JS -->
        <script
        src="https://www.paypal.com/sdk/js?client-id=ASF3VbRUAJt_HLAxTM-bRKLCTEgjbv51yow395DZLwc1FKanSa33kZZAQMyU7BvOVUGUtZ59RsPFxRg-&currency=GBP">
        </script>

        <script>
            var subTotal = "{{ object.total}}";

            function ajaxCompleteOrder(paypalData, paymentMethod,is_paid){
                var url = "{% url 'payment:paypal' %}"
                var paypalData = paypalData
                var data = {
                    'paymentMethod':paymentMethod,
                    'orderPk': '{{object.pk }}',
                    'orderId': '{{object.order_id }}',
                    'total': '{{ object.cart.total}}',
                    'vat': '{{ object.cart.vat_total}}',
                    'shipping': '{{ object.shipping_total}}',
                    'subTotal': '{{ object.total}}',
                    'paypalOrderID': paypalData.orderID,
                    'paypalPayerID': paypalData.payerID,
                    'is_paid':is_paid,
                }
                jsonData = JSON.stringify(data)
                $.ajax({
                    url: url,
                    method: "POST",
                    data:jsonData,
                    success: function(data){
                        if(data.cartSuccess){
                            $(location).attr('href','{% url "cart:success" %}');
                            console.log("order number: {{ object.order_id}}")
                        }
                    },
                    error: function(error){
                        console.log("error", error);
                    }
                })
            }

            paypal.Buttons({
                style: {
                    color: 'blue',
                    shape: 'rect',
                    label: 'pay',
                    height: 40
                },
            createOrder: function(data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                purchase_units: [{
                    amount: {
                    value: subTotal
                    }
                }]
                });
            },
            onApprove: function(data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function(details) {
                    // This function shows a transaction success message to your buyer.
                    ajaxCompleteOrder(data, "Paypal", true)
                    alert('Transaction completed by ' + details.payer.name.given_name);
                });
                }
            }).render('#paypal-button-container');
        </script> 
    {% endif %}
{% endif %}
{% endblock %}
