{% extends "base.html" %}

{% block content%}

<h1>Carts</h1>
<div class="row">
  <div class="col-12 col-md-6">
    Cart: {{cart}} <br>
    items currently in cart: {{ cart.cart_items.all }} <br>
    {{cart}}
    {% for item in cart.cart_items.all %}
    <div>
      Item: {{ item.product.title }} <br>
      Quantity: {{ item.quantity }} <br>
      Price per item: {{ item.price_of_item }} <br>
      total: {{ item.total }} <br>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}