{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- Stripe JS -->
<script src="https://js.stripe.com/v3/"></script>

<!-- jquery confirm js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<!-- JS Render -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.5/jsrender.min.js"></script>
{% include 'base/js_templates.html' %}


<!-- Charts.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js">
</script>

<!-- Django secure AJAX -->
<!-- <script src="{% static 'js/csrf.ajax.js' %}"></script> -->

<!-- eCommerce Custom Sales Data JS -->
<!-- <script src="{% static 'js/ecommerce.sales.js' %}"></script> -->

<!-- eCommerce Custom JS -->
<!-- <script src="{% static 'js/ecommerce.js' %}"></script> -->

<!-- eCommerce main JS -->
<!-- <script src="{% static 'js/ecommerce.main.js' %}"></script> -->