{% extends "base.html" %}
{% block content%}
<div class="row">
    <div class="col-12">
        <h1>Accounts</h1>
        <hr>
    </div>

    <div class="card col-sm-12 col-md-6 col-lg-3 my-3">
        <div class="card-body">
          <h5 class="card-title">Support</h5>
          <div class="list-group">
            <a href="{% url 'about' %}" class="list-group-item">About</a>
            <a href="{% url 'contact' %}" class="list-group-item">Contact</a>
          </div>
        </div>
    </div>

    <div class="card col-sm-12 col-md-6 col-lg-3 my-3">
        <div class="card-body">
            <h5 class="card-title">Billing</h5>
            <div class="list-group">
                <a href="#" class="list-group-item">Orders</a>
                <a href="/billing/payment-method/" class="list-group-item">Payment Method</a>
                <a href="#" class="list-group-item">Addreess</a>
            </div>
        </div>
    </div>

    <div class="card col-sm-12 col-md-6 col-lg-3 my-3">
        <div class="card-body">
          <h5 class="card-title">Preferences</h5>
          <div class="list-group">
            <a href="#" class="list-group-item">Edit Details</a>
            <a href="{% url 'marketing:marketing-pref' %}" class="list-group-item">Email Marketing</a>
            <a href="{% url 'password_change' %}" class="list-group-item">Change Password</a>
           </div>
        </div>
    </div>

    <div class="card col-sm-12 col-md-6 col-lg-3 my-3">
        <div class="card-body">
            <h5 class="card-title">History</h5>
            <div class="list-group">
                <a href="#" class="list-group-item">Products Viewed</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}