{% for findItemsAdvancedResponse in result.findItemsAdvancedResponse %}
{% for searchResult in findItemsAdvancedResponse.searchResult %}
{% for item in searchResult.item %}
<p>
    {% for title in item.title %}
    Title: {{ title }}<br>
    {% endfor %}
    {% for globalId in item.globalId %}
    Global Id: {{ globalId }}<br>
    {% endfor %}
    {% for listingInfo in item.listingInfo%}
        Listing Info:
        {% for endTime in listingInfo.endTime %} End time: {{ endTime }},{% endfor %}
        {% for buyItNowAvailable in listingInfo.buyItNowAvailable %} Buy it now? {{ buyItNowAvailable }}, {% endfor %}
        {% for watchCount in listingInfo.watchCount%} Watch count: {{ watchCount }}, {% endfor %}
        {% for bestOfferEnabled in listingInfo.bestOfferEnabled %} Best offer enabled? {{ bestOfferEnabled }},{% endfor %}
        {% for startTime in listingInfo.startTime%} Start time: {{ startTime }}, {% endfor %}
        {% for gift in listingInfo.gift %} Gift: {{ gift }}, {% endfor %}
        {% for FixedPrice in listingInfo.FixedPrice %} Fixed price? {{ FixedPrice }}{% endfor %}
    {% endfor %}<br>
    Shipping info: {{ item.shippingInfo }}<br>
</p>
{% endfor %}
{% endfor %}
{% endfor %}
