{% extends "base.html" %}{% block content %}
<div class="row">
  {% if blog_obj %}
    <div class='col-sm col-md col-lg my-3'>
      <h3>Its a blog</h3>
    {% for blog_obj in blog_obj %}
    {{blog_obj.title}} <a href="{{ blog_obj.get_absolute_url }}">View</a><br>
    <br>
    {% endfor %}
    </div>
  {% else %}
  <div class='col-sm col-md col-lg my-3'>
    No blog posts at the moment...
  </div>
  {% endif %}
    {% if user.is_authenticated %}
    <div class="col-12">
        <a href="{% url 'blog:create' %}"><button class="btn-success">Create blog</button></a>
    </div>
    {% endif %}
  </div>
{% endblock %}