{% extends "base.html" %}

{%block javascript %}
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3, 9],
                backgroundColor: 'rgba(100, 255, 34, .2)',
                borderColor: 'rgba(100, 255, 34, .6)',
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="row my-5">
    <div class="col-12 text-center">
        <h1>Sales</h1>
        <hr>
    </div>
</div>
<!-- Today's Sales -->

<div class="row my-4">    
    <div class="col-4">
        <h2>Today's Sales</h2>
        <hr>
        <p>Recent Totals: £{{today.recent_data.total__sum}}</p>
        <ol>
        {% for order in today.recent|slice:":5" %}
        <li>{{order.order_id}}
        {{order.total}}
        {{order.updated}}</li>
        {% endfor %}
        </ol>    

        <!-- This Weeks Sales -->
    
        <h2>This week</h2>
        <hr>
        <p>Recent Totals: £{{this_week.recent_data.total__sum}}</p>
        <ol>
        {% for order in this_week.recent|slice:":5" %}
        <li>{{order.order_id}}
        {{order.total}}
        {{order.updated}}</li>
        {% endfor %}
        </ol>
    </div>
    <div class="col">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>


<!-- last Month's Sales -->

<div class="row my-3">
    <div class="col-12">
        <h2>Last 4 Weeks</h2>
        <hr>
    </div>
    
    <div class="col-4">
        <p>Month Totals: £{{last_four_weeks.recent_data.total__sum}}</p>
    </div>

    <div class="col-4">
        <p>Shipped £{{last_four_weeks.shipped_data.total__sum}}</p>
    </div>

    <div class="col-4">
        <p>Paid Totals: £{{ last_four_weeks.paid_data.total__sum }}</p>
    </div>
  </div>
  
  
{% endblock %}