<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'base/css.html' %}
</head>
<body>
  {% include 'base/navbar.html' with brand_name='#SweetSweetSwag' %}
    <div class="container">
      {% if messages %}
      <div class=" alert alert-success messages">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}<br/>
          </span>
          {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    {% include 'base/js.html' %}

    <script>
      $(document).ready(function(){
        var productForm = $(".form-product-ajax")

        productForm.submit(function(event){
          event.preventDefault();
          var thisForm = $(this)
          var actionEndpoint = thisForm.attr("action");
          var httpMethod = thisForm.attr("method");
          var formData= thisForm.serialize();
          

          $.ajax({
            url: actionEndpoint,
            method: httpMethod,
            data: formData,
            success: function(data){
              console.log("Success: ")
              console.log(data)
            },
            error: function(errorData){
              console.log("error: ")
              console.log(errorData)
            }

          })
        })
      })
    </script>
</body>
</html>