<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href='{% static "img/favicon.ico" %}'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
</head>
<body>
    {% include 'base/navbar.html' with brand_name='#SweetSweetSwag' %}
    {% if messages %}
    <div class="alert alert-success messages">
        {% for message in messages %}
        <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}<br/>
        </span>
        {% endfor %}
    </div>
    {% endif %}
    <div class="container">
        <div class="content-body">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'base/css.html' %}
    {% include 'base/js.html' %}
    {% block javascript %}
    {%endblock %}
</body>
</html>
