{% extends "base.html" %}
{% load static %}
{% block base_head %}
  <link rel='stylesheet' href='{% static "css/main.css" %}'/>
{% endblock %}
{% block content%}
  <div class='row'>
    {% if featured %}
    {% for featured_items in featured %}
    <div class='col-4 my-3'>
          {% include 'products/snippets/card.html' with product_obj=featured_items cart_item_obj=cart_item_obj %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% if request.user.is_authenticated %}
    <div class='row'>
      <div class='col-8'>
        <h1>Premium</h1>
        {% lorem 2 p %}
      </div>
    </div>{% endif %}{% endblock %}