{% extends "base.html" %}
{% load static %}
{% block base_head %}
  <link rel='stylesheet' href='{% static "css/main.css" %}'/>
{% endblock %}
{% block content%}

    {% if tag_item_books_obj %}
        <div class="row">
            <h3>Books</h3>
            {% for book_item in tag_item_books_obj.products.all %}
            <div class="col-3 my-3">
                Product: {{book_item}} <br>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if featured %}
    <div class='row'>    
        {% for featured_items in featured %}
        <div class='col-4 my-3'>
            {% include 'products/snippets/card.html' with product_obj=featured_items cart_item_obj=cart_item_obj %}
        </div>
        {% endfor %}
    </div>
  {% endif %}

  {% if request.user.is_authenticated %}
    <div class='row'>
      <div class='col-8'>
        <h1>Premium</h1>
        {% lorem 2 p %}
      </div>
    </div>{% endif %}{% endblock %}