{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>{{ product_obj.title }}</h1>
    Added: {{ product_obj.timestamp|timesince }} ago<br/>
    {% if product_obj.quantity > 0 %}
      Quantity: {{ product_obj.quantity }}<br/>
    {% else %}
      <div class="text-danger">
        <em>Product not available</em>
      </div>
    {% endif %}
  </div>
  <div class="col-12 col-md-6">
    <p>
      {% if cart_item_obj in cart_obj.cart_items.all %}
        {% for item in cart_obj.cart_items.all %}
          {% if product_obj == item.product %}
            In cart<br>
          {% endif %}
        {% endfor %}
      {% else %}
        Add to cart
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}