{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12 col-md-6">
    <h1>{{ product_obj.title }}</h1>
    Added: {{ product_obj.timestamp|timesince }} ago<br/>
    {% if product_obj.quantity > 0 %}
      Quantity: {{ product_obj.quantity }}<br/>
    {% else %}
      <div class="text-danger">
        <em>Product not available</em>
      </div>
    {% endif %}
  </div>
  <div class="col-12 col-md-6">
    {% include 'products/snippets/update-cart.html' with product_obj=product_obj cart_item_obj=cart_item_obj cart_obj=cart_obj %}
  </div>
</div>
{% endblock %}