{% extends "base.html" %}
{% block content%}
<style>
  .pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
</style>
<div class="row">
{% for product in product_list %}
<div class='col-sm-12 col-md-4 col-lg-4 my-1'>
  {% include 'products/snippets/card.html' with product_obj=product cart_item_obj=cart_item_obj %} <br>
</div>
{% endfor %}
</div>
Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
